.nav-header {
  .bg-header {
    box-shadow: rgba(2, 126, 234, 0.1) 0px 20px 29px 0px;
  }
  
  .input-group{
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 0.4px solid rgb(121, 119, 119);
    border-radius: 10px;
    overflow: hidden;
    @media (min-width: 990px){
      width: 33vw;
    }
    width: 100%;
  }
}

.navbar-nav {
  gap: 1vw;
  .nav-link {
    color: rgb(45, 45, 45) !important;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.5vh;
    cursor: pointer;
  
    &:hover {
      color: rgb(30, 66, 149) !important;
      text-decoration: underline;
    }
  }
  .nav-item{
    padding-right: 0.8vw;
  }
}

@media (min-width: 768px){
  .offcanvas{
    width: 33vw !important;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .offcanvas{
    width: 50vw !important;
  }
}

@media (max-width: 576px){
  .offcanvas{
    width: 75vw !important;
  }
}
.header-top{
  display: flex;
  align-items: center;
  gap: 5px; 

  .nav-help{
    color: grey !important;
    background-color: white !important;
    border: 1px solid white !important;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
  
    &:hover {
      color: rgb(45, 45, 45) !important;
      font-weight: 600;
    }
  }
}

.dropdown-toggle::after {
  display: none !important;
}
.dropdown-item {
  font-weight: 600 !important;
  font-size: 15px !important;
  color: rgb(66, 65, 65) !important;

  &:hover {
      background-color: white !important;
      color: rgb(30, 66, 149) !important;
    }
    &.active{
      background-color: white !important;
      color: rgb(66, 65, 65) !important;
    }
    
    &.active:hover {
      background-color: white !important;
      color: rgb(30, 66, 149) !important;
    }
}