.nav-header {
  .bg-header {
    box-shadow: rgba(2, 126, 234, 0.1) 0px 20px 29px 0px;
  }
  .navbar-nav {
    .nav-link {
      color: rgb(45, 45, 45) !important;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 0.5vh;
      cursor: pointer;
  
      &:hover {
        color: rgb(30, 66, 149) !important;
        text-decoration: underline;
      }
    }
    .nav-icon{
        padding-left: 0.2vw;
        padding-right: 0.8vw;
    }
  }
  .input-group{
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 33vw;
    border: 0.4px solid rgb(121, 119, 119);
    border-radius: 10px;
    overflow: hidden;
  }
}

.header-top{
  .nav-help{
    color: grey !important;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
  
    &:hover {
      color: rgb(45, 45, 45) !important;
      font-weight: 600;
    }
  }
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-item {
  font-weight: 600 !important;
  font-size: 15px !important;
  color: rgb(45, 45, 45) !important;

  &:hover {
      background-color: white !important;
      color: rgb(30, 66, 149) !important;
    }

    &.active,
    &.active:hover {
      background-color: white !important;
      color: rgb(45, 45, 45) !important;
    }
}